In [16]:
#importing neccesary packages
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [17]:
my_df = pd.read_csv('C:\\Users\\HP\\Downloads\\ml-100k\\ml-100k\u.data', sep='\t', names=['user_id','item_id','rating','timestamp'])
my_df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [23]:
# Importing movie title and joining with main data
movie_titles = pd.read_csv('C:\\Users\\HP\\Downloads\\ml-100k\\Movie_Titles.csv', encoding= 'unicode_escape')
my_df = pd.merge(my_df, movie_titles, on='item_id')
my_df.head()

   user_id  item_id  rating  timestamp       title_x       title_y
0      196      242       3  881250949  Kolya (1996)  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)  Kolya (1996)

In [22]:
#Statitical features of the movie
my_df.describe()

            user_id        item_id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08